@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



body {
    margin: 20px;
    font-family: Arial, sans-serif;
    margin: 1px;
    padding: 20px 0;
    background-color: #1781b3;
    color: #333;
    overflow-x: hidden;
    text-align: justify;
}


header {

    background: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    animation: fadeIn 1s ease;
    margin: 20px;
    
}

nav {
    margin: auto;
}

nav a {
    color: #f10518;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
    transform: scale(0.5s);
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #f5f5f5;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
}

section:nth-child(even) {
    animation-delay: 0.1s;
}

section:nth-child(odd) {
    animation-delay: 0.2s;
}

h2 {
    color: #000000;
    margin-bottom: 10px;
}
img{
    border-radius: 200px;
    width: 200px;
    height: 200px;
  
    
}


.about{

    margin-top: auto;
    transition: transform 0.3s;

    
}

.about:hover {
    transform: scale(1.02);
    color:royalblue;

}

.project {
    margin-top: 20px;
    transition: transform 0.3s;
}

.project:hover {

    transform: scale(1.02);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #444445;
    color: #ffffffb0;
    position: relative;
    bottom: 0;
    width: 100%;
}

